@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

/** container**/
.container{
    padding-left:lrem;  /**rem is a css unit which is related to the font-size of the root element**/
    padding-right:lrem;
}


.container-center{
    max-width:600px;
    margin:auto;
}
